.overlay{
    position: fixed;
    inset: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-overlay);
}

.modal{
    position: relative;
    width: 20rem;
    background-color: var(--color-white);
    padding: 1.5rem;
    border-radius: var(--radius-md);
}

.close{
    position: absolute;
    top: -1.25rem;
    right: -1.25rem;
}